<div class="row navbar">
    <div class="col-md-4 col-3 navbar--header">Pizz-a-tron</div>
    <div class="col-md-4 col-3 navbar-icon-container">
        <a class="button button__gray" [routerLink]="'/configurator'" class="navbar-icon">🍕</a></div>
    <div class="col-md-4 col-6 navbar--logout--container">
        <a class="button button__gray d-inline-block" [routerLink]="'/order/history'">
            Order history
        </a>

        <button class="button button__gray d-inline-block" (click)="logout()">
            Log out
        </button>
    </div>
</div>