<div class="order">
    <h2 class="order__header">Almost done!</h2>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-details">
            <h4>Order details</h4>
            <div class="order-details__toppings-text">Toppings</div>
            <div class="order-details__toppings">
                <span *ngFor="let topping of order.toppings;let last=last">
                    {{topping.name}} <ng-container *ngIf="!last">,</ng-container>
                </span>
            </div>
            <div class="order-details__quantity">QTY: {{order.quantity}}</div>
            <mat-divider></mat-divider>
            <div class="order-details__delivery-text">
                Delivery<br /> Free delivery within 1 hour or you don't have to pay
            </div>
            <mat-divider></mat-divider>
            <app-discount (addDiscount)="addDiscount($event)"></app-discount>
            <div class="total-price">
                <div class="total-price__text">Total price</div>
                <h5 class="total-price__value">{{order.total|currency:'USD'}}</h5>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
            <form [formGroup]="shippingInformation" class="shipping-info">
                <h4>Shipping details</h4>
                <input class="input shipping-info__street" formControlName="streetName" placeholder="Street name and number">
                <input class="input shipping-info__city" formControlName="city" placeholder="City" />
                <input class="input shipping-info__postal" formControlName="postalCode" placeholder="Postal code" />
                <input class="input shipping-info__country" formControlName="country" placeholder="Country" />
                <div class="payment-details-text">
                    <h4>Payment details</h4>
                    <div>Cash on delivery</div>
                </div>
                <mat-divider></mat-divider>
                <br />
                <button class="button button--primary shipping-info__finish-order" (click)="finishOrder()">Finish
                    order</button>
            </form>
        </div>

    </div>
</div>