.footer {
    display: flex;
    padding: 2em 3em;
    justify-content: center;
    background: white;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    margin-top: 8em;
}

.footer__input {
    width: 6em;
    height: 2em;
    text-align: center;
}

.footer_quantity-text {
    text-align: center;
}

.footer__order-total {
    color: rgba(180, 144, 223, 1);
}

.footer__pizza-image-container {
    text-align: center;
}

.footer__image {
    width: 75%;
}