<app-navbar></app-navbar>
<app-toppings [selectedToppings]="order.toppings"></app-toppings>
<app-pizza-sizes (selectPizzaSize)="selectPizzaSize($event)"></app-pizza-sizes>
<app-discount (addDiscount)="addDiscount($event)"></app-discount>
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-9 col-sm-12 col-xs-12">
        <div class="footer">
            <div class="footer__pizza-image-container d-none d-md-block d-lg-block d-xl-block">
                <img class="footer__image" src="/assets/images/pizza.svg">
            </div>
            <div>
                <input class="input footer__input" [(ngModel)]="order.quantity">
                <div class="footer_quantity-text">QTY</div>
            </div>
            <div>
                <h4 class="footer__order-total">
                    {{order.total|currency:'USD'}}
                </h4>
                <div>Order total</div>
            </div>
            <button class="button button--primary" (click)="buyPizza()">Buy Pizza! Pizza!</button>
        </div>
    </div>
</div>