<app-navbar></app-navbar>
<div class="row justify-content-center w-100 order-successful">
    <div class="col-lg-3 col-md-3 col-6 text-center">
        <img [src]="'/assets/images/pizza.svg'" class="w-75" />
    </div>
    <div class="col-lg-3 col-md-3 col-12">
        <h1 class="pizza-on-way-text">
            Your Pizza! Pizza! is on its way!
        </h1>
        <div class="enjoy-meal-text">
            You should be enjoying your meal in no more than 45 minutes.
        </div>
        <button class="button button--primary buy-another-button" (click)="buyAnother()">Buy another!</button>
    </div>
</div>