<div class="row" class="row position-absolute-center w-100 justify-content-center">
    <div class="col-lg-4">
        <form (submit)="login()">


            <input class="input" placeholder="Email" [formControl]="email" />

            <mat-error *ngIf="email.invalid && (email.touched || email.dirty)" class="text-center">
                Email required
            </mat-error>

            <br />
            <br />

            <input class="input" type="password" placeholder="Password" [formControl]="password" />

            <mat-error *ngIf="password.invalid && (password.touched || password.dirty)">
                Password required
            </mat-error>

            <br />
            <br />
            <button matButton class="button button--primary w-100">Login</button>
        </form>
        <br />
        <button matButton class="button button--primary w-100" (click)="redirectToRegister()">Register</button>
        <br />
        <br />
        <mat-divider></mat-divider>
        <br />
        <button matButton class="button button--primary w-100" (click)="loginWithGoogle()">
      <span class="large-button-icon float-left">
      <img [src]="'/assets/images/google.svg'"/>
      </span><span>Login with Google</span></button>
    </div>
</div>