/* You can add global styles to this file, and also import other style files */

body {
    background-color: #E5E5E5!important;
    font-family: "Montserrat", sans-serif;
}

.position-absolute-center {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: none;
    border-radius: 2em;
}

.button:hover {
    cursor: pointer;
}

.button--primary {
    background: linear-gradient(to right, rgba(180, 144, 223, 1), rgba(198, 151, 233, 1));
    color: white!important;
}

.button--gray {
    background: #ECECF3!important;
    border: 1px solid rgba(219, 219, 219, 1);
    box-sizing: border-box;
    border-radius: 36px;
    color: black;
}

.large-button-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.large-button-icon svg {
    vertical-align: middle;
    display: inline-block;
}

.input {
    background: #ECECF3;
    border: none;
    border-radius: 56px;
    padding: 1.2em 1.6em;
    width: 100%;
    outline: none;
}

.input-with-button-container {
    background: #ECECF3;
    margin-top: 2em;
    border-radius: 56px;
    padding: 0.75em 1em;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 2fr 1fr;
}

.input-with-button-container--big {
    padding: 1.5em 2em;
}

.input:active {
    border-color: none;
    outline: none;
}

.input:focus-visible {
    border-color: none;
    outline: none;
}

.input--no-style {
    background-color: none;
    padding: none;
    border: none;
    outline: none;
}

.input--no-style:active,
.input--no-style:focus-visible {
    border: none;
    background: none;
    outline: none;
}