/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}
.position-absolute-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
